@import "modules/normalize";
@import "modules/mili/milligram";

$color-list: $color-initial, $color-primary, $color-secondary, $color-tertiary, $color-quaternary ;

body{
    background: transparent;
}

.color {
    height: 19.8vh;
    text-align: center;

    @for $i from 1 to length($color-list)+1{
        &:nth-child(#{$i}){
            background: nth($color-list, $i);

            &:before{
                margin: 5% auto;
                color: saturate(darken(nth($color-list, $i), 50%), 100%);
                font-size: 4rem;
                content: ""+nth($color-list, $i)+"";
            }
        }
    }
}