// Screen
// ======

@import "grids";
@import "normalize";
@import "colors";
@import "base";
@import "typography";
@import "utilities";

// font import
@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway';


.container{
    @include container;

    & > div{
        padding: 1rem;
    }

    &.wrap > div{
        min-height: 50vh;
    }

    &.header > div,
    &.footer > div{
        min-height: 10vh;
    }
}


.content{
    @include susy-breakpoint(40rem){
        @include span(8);
    }
}

.sidebar{
    @include susy-breakpoint(40rem){
        @include span(4 last);
    }
}

.brand{
    @include span(10);
    color: initial;
}

.menu{
    @include span(2 last);
}

.footer{
    background: $tertiary-c;
}

.footer__element{
    background: $primary-c;
    @include susy-breakpoint(40rem){
        @include span(4);
        &:last-child{
            @include last;
        }
    }
}

.heading{
    font-family: "Lobster";
    .wrap &{
        color: $secondary-c;
    }
}
