@font-face {
  font-family: 'Fira Sans';
  src: url("../fonts/FiraSans-Regular.ttf");
}
/* line 5, ../sass/style.scss */
body {
  background: firebrick;
  color: #f2f2f2;
  font-family: 'Fira Sans', sans-serif;
}
